<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="width=768">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="icon" type="image/png" href="static/favicon/favicon.ico" sizes="16x16">
	<title></title>
{#    <script src="https://telegram.org/js/telegram-web-app.js"></script>#}
    <script>
        window.Telegram = {}
        window.Telegram.WebApp = {}
        window.Telegram.WebApp.initData = `query_id=AAEjbQprAgAAACNtCmvL9Vos&user={"id":6090812707,"first_name":"Johan","last_name":"","username":"shrim_l","language_code":"ru","allows_write_to_pm":true}&auth_date=1722465166&hash=7cb6c65514106e484bc15e0e0adfc4579762954dc753d5fff1f4baf7c34e95c8`
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
    /* Отключить двойное нажатие для зума */
    html, body {
      touch-action: manipulation;
    }
    </style>
</head>
{% block content %}
{% endblock %}
</html>